/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
	--pr-color: #060606;
	--first-color: #77FFB3;
	--second-color: rgb(244, 249, 247);
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
	--fz-big: 60px;
}

* {
	box-sizing: border-box;
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
	padding: 0;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
	background: var(--first-color);
	margin: 0;
	
}

/******************************************/
section {
	padding-top: 150px;
	padding-bottom: 50px;
}

.wrapp {
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 1;
}

.content {
	width: 100%;
	padding: 0 70px;
}

.char {
	display: inline-block;
}

/* Paralax Effect On GSAP **********************************/

/* navigation*/

.navigation {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: var(--first-color);
    color: var(--pr-color);
}

.logo img {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li {
    font-size: 12px;
	
}

.nav-links a {
    text-decoration: none;
    color: var(--pr-color);
	background-color: var(--second-color);
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}


/* header ********/
.header {
	position: relative;
	display: flex;
	padding: 0 70px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.header__marq {
	position: absolute;
	bottom: 0;
	left: 0;
}

.header__marq {
	width: 100%;
	height: auto;
	background: #171717;
	overflow: hidden;
}

.header__marq-wrapp {
	display: flex;
	width: 100%;
	height: auto;
	padding: 8px 70px;
}

.header__marq-txt {
	position: relative;
	flex: 0 0 auto;
	display: inline-block;
	padding-right: 55px;
	margin-right: 15px;
	text-transform: uppercase;
	color: var(--pr-color);
	color: #9e9e9e;
	font-size: 35px;
}

.header__marq-star {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
}

.header__marq-star img {
	display: block;
	width: 100%;
	height: 100%;
}

.title {
	position: relative;
	margin: 0;
	font-size: 80px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
	mix-blend-mode: difference;
	z-index: 2;
}

.title_paralax {
	display: inline-block;
	will-change: transform;
}

.title .stroke {
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.header__img {
	position: absolute;
	width: 45%;
	height: 100%;
	top: 0;
	right: 100px;
	clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	overflow: hidden;
}

.header__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-title {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	line-height: .8;
	font-size: 70px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
}

.section-title .stroke {
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
	position: absolute;
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 1px solid #4b4b4b;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/* about ********/
.about .section-title {
	text-align: left;
}

.about__wrapp {
	display: flex;
	justify-content: space-between;
}

.about__img,
.about__txt {
	width: calc(50% - 35px);
	height: auto;
}

.about__txt {
	padding-right: 70px;
}

.about__p {
	line-height: 1.4;
	font-size: 20px;
	color: #4b4b4b;
}

.about__img {
	height: 100vh;
	overflow: hidden;
}

.about__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 768px) {
    /* about ********/
.about .section-title {
    text-align: center;
}

.about__wrapp {
    display: flex;
    flex-direction: column; /* Change to a vertical layout on smaller screens */
    gap: 20px; /* Add some vertical spacing between the elements */
}

.about__img,
.about__txt {
    width: 100%; /* Take full width on smaller screens */
    height: auto;
    padding: 0 20px; /* Add some horizontal padding */
}

.about__txt {
    padding: 0; /* Remove the right padding */
    text-align: center; /* Center the text on smaller screens */
}

.about__p {
    font-size: 16px; /* Reduce the font size for better readability on smaller screens */
}

.about__img {
    height: auto; /* Adjust the height to fit the content */
    max-height: 60vh; /* Set a maximum height to prevent excessive stretching on smaller screens */
}

.about__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}


/* benefits ********/
.benefits__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: auto;
}

.benefits__item {
	list-style: none;
	/* width: calc(33.33% - 27px); */
}

.benefits__num {
	display: inline-block;
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
	width: 100px; 
	height: 10px;
}

.benefits__p {
	font-size: 20px;
	color: #4b4b4b;
}

/* work ********/
.work {
	padding-top: 150px;
}

.work__wrapp {
	display: flex;
	flex-wrap: wrap;
	row-gap: 120px;
	justify-content: space-between;
	padding: 0 120px;
}

.work__item {
	position: relative;
	width: calc(50% - 60px);
	height: 100vh;
}

.work__item-num {
	position: absolute;
	display: inline-block;
	font-size: 70px;
	color: var(--pr-color);
	mix-blend-mode: difference;
	z-index: 2;
}

.work__item-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work__item-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* CARD */


/* Reset some default styles */
body, h2, p, a {
    margin: 0;
    /* padding: 0; */
}

/* Section styles */
.card-section {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: var(--second-color); */
    padding: 10px;
	height: 100vh;
	margin-top: 30vh;
}

/* Limit the maximum width */
.section {
    /* max-width: 1200px; Adjust the maximum width as needed */
    width: 100%;
	height: 100%;
}

/* Card styles */
.card {
    /* width: calc(33.33% - 20px); Each card takes about 33% of the container width with some margin between them */
	background: rgba(255, 255, 255, 0.2); /* Set the background color with some transparency */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px; /* Add margin between cards */
    height: 50vh; /* Adjust the vh value as needed */
    backdrop-filter: blur(10px);
	
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

a {
    display: inline-block;
    background-color: #0077FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

a:hover {
    background-color: #0055CC;
}

/* Media query for smaller screens (stack vertically) */
@media (max-width: 768px) {
    .benefits__list {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 100%;
		height: 100%;
    }
}



/* serv ********/
.serv__item {
	position: relative;
	padding: 40px 0;
	border-bottom: 1px solid #2f2e2e;
	cursor: pointer;
}

.serv__item-arrow {
	position: absolute;
	display: inline-block;
	width: 55px;
	height: 55px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.serv__item-arrow img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(180deg);
}

.serv__item-txt {
	font-size: 50px;
	color: transparent;
	-webkit-text-stroke: 2px black;
	transition: .4s ease;
	text-transform: uppercase;
}

.serv__item-txt:hover{
	color: #060606;
}

.cursor{
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	left: 0;
	right: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .1s;
}

.cursor2{
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: #c6c6c6;
	border-radius: 50%;
	left: 0;
	right: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .15s;
}


/* .serv__item-text:hover ~ .cursor{
	transform: translate(-50%, -50%) scale(1.5);
	background-attachment: white;
	opacity: .5;
	cursor: pointer;
}

.serv__item:hover ~ .cursor2{
	opacity: 0;
	cursor: pointer;
} */


/* contact */


/* contact section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--first-color);
    height: 70vh;
}



.contact h2 {
    font-size: 24px;
	color: var(--pr-color);
}

.contact-form form, .whatsapp-button {
    margin-top: 20px;
}
.container {  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	  "contact-form whatsapp-message"
	  "social-media whatsapp-message";
  }
  
  .contact-form { grid-area: contact-form; }
  
  .social-media { grid-area: social-media; }
  
  .whatsapp-message { grid-area: whatsapp-message; }
  
  .contact-form label,
  .contact-form input {
	  display: block;
	  margin-bottom: 10px; /* Add margin at the bottom of labels and input fields */
  }
  
  .contact-form input {
	  width: 80%;
	  padding: 10px;
  }
  
  .contact-form button, .whatsapp-button {
	  background-color: #0077FF;
	  color: var(--pr-color);
	  padding: 10px 20px;
	  border: none;
	  border-radius: 5px;
	  text-decoration: none;
	  cursor: pointer;
	  margin-top: 10px; /* Add margin at the top of the button */
  }
  
  .contact-form button:hover, .whatsapp-button:hover {
	  background-color: #0055CC;
  }
  

/* style.css */
.social-media i {
    font-size: 24px; /* Set a default icon size */
    margin-right: 10px; /* Add spacing between icons */
}

/* Adjust the size of specific icons */
.facebook-icon {
    font-size: 32px; /* Facebook icon with a font size of 32px */
}

.twitter-icon {
    font-size: 28px; /* Twitter icon with a font size of 28px */
}

.tiktok-icon {
    font-size: 24px; /* TikTok icon with a font size of 24px */
}

.instagram-icon {
    font-size: 30px; /* Instagram icon with a font size of 30px */
}

/* style.css */
.social-media i {
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.2s; /* Add a transition for smoother effects */
}

/* Adjust the size of specific icons */
.facebook-icon:hover,
.twitter-icon:hover,
.tiktok-icon:hover,
.instagram-icon:hover {
    font-size: 30px; /* Increase the size on hover */
    transform: rotate(3deg); /* Add a slight rotation on hover */
    animation: shake 0.5s ease infinite; /* Add a shake animation on hover */
}

@keyframes shake {
    0% { transform: translate(0); }
    20% { transform: translate(-5px, 0); }
    40% { transform: translate(5px, 0); }
    60% { transform: translate(-5px, 0); }
    80% { transform: translate(5px, 0); }
    100% { transform: translate(0); }
}


/* footer ********/
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.footer__div {
	font-size: 70px;
	letter-spacing: 12px;
	color: var(--pr-color);
	text-transform: uppercase;
}

.footer__div span {
	display: inline-block;
}